@import url("https://js.arcgis.com/4.16/esri/css/main.css");

#viewDiv {
    span {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

#infoDiv {
    position: absolute;
    top: 15px;
    left: 60px;

    input {
        border: none;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
    }
}

#editor {
    position: absolute;
    top: 0;
    right: 0;
}

#editor-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    // background-color: white;
    width: 20px;
    height: 238px;
    top: 0;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
