@import url("https://js.arcgis.com/4.16/esri/css/main.css");

%arrow {
    border: solid #a9a9a9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

#viewDiv {
    span {
        position: absolute;
        left: 0;
        bottom: 0;
    }
}

#infoDiv {
    position: absolute;
    top: 15px;
    left: 60px;

    input {
        border: none;
        box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 2px;
    }
}

#editor {
    position: absolute;
    top: 0;
}

#editor-btn {
    background-color: #ffffffeb;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    border-width: 0px 1px 0px 1px;
    border-color: #f3f3f3;

    .right {
        @extend %arrow;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
    }

    .left {
        @extend %arrow;
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
    }
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
